<style>

</style>
<div id="passwords-page">
    <div class="instructions">
        <div class="step">
            Step <%= instances.length === 1? "4": "5" %> of <%= instances.length === 1? "4": "5" %>
        </div>
        <div class="title">
            Enter your passwords for Olympus
        </div>
        <div class="description">
            When logging into Olympus, these passwords will let you access the different roles. <br>
            Game Master is the default and is used as a global commander. The other two are used as a part of the RTS mode.
        </div>
    </div>
    <div class="wizard-inputs">
        <div class="input-group game-master">
            <span>Game Master Password<img src="./icons/circle-info-solid.svg"
                    title="This password is used to access Olympus as Game Master with full privileges.">
            </span>
            <input type="password" minlength="8" onchange="signal('onGameMasterPasswordChanged', this.value)" placeholder="<%= !activeInstance["installed"] || activeInstance["gameMasterPasswordEdited"]? '': 'Keep old password'%>">
        </div>
        <div class="input-group blue-commander">
            <span>Blue Commander Password<img src="./icons/circle-info-solid.svg"
                    title="This password is used to access Olympus as blue coalition Commander.">
            </span>
            <input type="password" minlength="8" onchange="signal('onBlueCommanderPasswordChanged', this.value)" placeholder="<%= !activeInstance["installed"] || activeInstance["blueCommanderPasswordEdited"]? '': 'Keep old password'%>">
        </div>
        <div class="input-group red-commander">
            <span>Red Commander Password<img src="./icons/circle-info-solid.svg"
                    title="This password is used to access Olympus as red coalition Commander.">
            </span>
            <input type="password" minlength="8" onchange="signal('onRedCommanderPasswordChanged', this.value)" placeholder="<%= !activeInstance["installed"] || activeInstance["redCommanderPasswordEdited"]? '': 'Keep old password'%>">
        </div>
        <div class="<%= activeInstance["installed"]? '': 'hide' %>" style="color: var(--offwhite); font-size: var(--normal); color: var(--lightgray);">
            Note: to keep the old passwords, click <b>Next</b> without editing any value. 
        </div>
    </div>
</div>
