<html>

<head>
  <title>Olympus client</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="stylesheets/leaflet.css">
</head>

<body>
  <div id="map-container"></div>
  <%- include('unitinfo.ejs') %>  
  <%- include('selectionwheel.ejs') %> 
  <%- include('selectionscroll.ejs') %>
  <div class="olympus-dropdown" id="map-source-dropdown">Satellite</div>
  <div class="olympus-dropdown" id="scenario-dropdown">Nevada</div>
  <%- include('unitcontrol.ejs') %>
  <%- include('visibilitycontrol.ejs') %>
  <!-- ENABLE ME BACK <%- include('connectionstatus.ejs') %> -->
  <script src="javascripts/bundle.js"></script>
</body>

</html>
