<html>

<head>
  <title>Olympus client</title>
  <link rel="stylesheet" type="text/css" href="./themes/olympus/olympus.css" />
  <link rel="stylesheet" type="text/css" href="stylesheets/olympus.css" />
  <link rel="stylesheet" href="stylesheets/leaflet.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;700;800&display=swap" rel="stylesheet"> 

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-Z4L2TC3YX0"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-Z4L2TC3YX0');
  </script>

</head>

<body>
  <div id="map-container"></div>
  <%- include('aic.ejs') %>
  <%- include('atc.ejs') %>

  <%- include('contextmenus.ejs') %>
  <%- include('unitcontrolpanel.ejs') %>
  <%- include('unitinfopanel.ejs') %>
  <%- include('mouseinfopanel.ejs') %>
  <%- include('navbar.ejs') %>
  <%- include('connectionstatuspanel.ejs') %>
  <%- include('dialogs.ejs') %>
  <%- include('unitdatatable.ejs') %>
  
  <% /* %>
  <%- include('log.ejs') %> 
  <% */ %>
  <script src="javascripts/bundle.js"></script>
</body>

</html>