<html>

<head>
  <title>Olympus client</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/olympus.css" />
  <link rel="stylesheet" type="text/css" href="stylesheets/leaflet/leaflet.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/leaflet/leaflet-gesture-handling.css">

  <link rel="stylesheet" type="text/css" href="/resources/theme/theme.css" /> <!-- Theme specifc css, autorouted to point to active theme -->

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;700;800&display=swap"> 
</head>

<body>
  <!-- Main leaflet map -->
  <div id="map-container"></div>

  <!-- Toolbars -->
  <div id="toolbar-container">
    <%- include('toolbars/primary.ejs') %>
    <%- include('toolbars/commandmode.ejs') %>
  </div>
  
  <!-- Panels -->
  <%- include('panels/unitcontrol.ejs') %>
  <%- include('panels/unitinfo.ejs') %>
  <%- include('panels/mouseinfo.ejs') %>
  <%- include('panels/connectionstatus.ejs') %>
  <%- include('panels/serverstatus.ejs') %>
  <%- include('panels/hotgroup.ejs') %>
  <%- include('panels/logpanel.ejs') %>
  <%- include('panels/unitlist.ejs') %>

  <!-- Context menus -->
  <%- include('contextmenus/airbase.ejs') %>
  <%- include('contextmenus/airbasespawn.ejs') %>
  <%- include('contextmenus/coalitionarea.ejs') %>
  <%- include('contextmenus/map.ejs') %>
  <%- include('contextmenus/unit.ejs') %>

  <!-- Other -->
  <%- include('other/dialogs.ejs') %>
  <%- include('other/popups.ejs') %>

  <!-- Grayout effect of the background when login prompt is visible -->
  <div id="gray-out"></div> 
  
  <script src="javascripts/bundle.js"></script>
</body>

</html>